{% extends "image_dist/base.html" %}
{% load staticfiles %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'vm_dist/css/chartstyle.css' %}" />
<script type="text/javascript" src="{% static 'vm_dist/js/image_dist.js' %}"></script>
<script type="text/javascript" src="{% static 'vm_dist/js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'vm_dist/js/vm_dist_api.js' %}"></script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

var img_list={
{% for img_key, site_list in site_image_array %}
    '{{img_key}}':[
    {% for site in site_list %}
    {'site_name':'{{site.site_name}}','site_script':'{{site.site_script}}' },
	{% endfor %}
	],
{% endfor %}
}

var test_data = [5,6,7,8,7,2,3,7,5,7]


var OPSDATA = {'save':img_list}
var OPSURL = {'save':'/image_dist/jsonrequestpost/'}
var OPSVIEW = {'save':{'div':'info'}} 

function localinit(){
	console.log("localized init updating chart");
	document.getElementById("chart").innerHTML="";
	d3.select(".chart").selectAll("div").data(test_data).enter().append("div").style("width", function(d) { return d*10 +"px";}).text(function(d) {return d;});
	//document.getElementById("chart").innerHTML="";
	//d3.select(".chart").append("p").text("damn you frank!")
	
	console.log("done chart init");
}

function clear_Options(sel){
	while(sel.options.length>0)
		sel.remove(0);
}

function pot_sites(){
	console.log("potential site info")
 	document.getElementById("sup_site_info").innerHTML="...";
 	//console.log("csrf-token"+csrf_token)
}


function deployed_update_site(){
	console.log("update site info")
 	document.getElementById("dep_site_info").innerHTML="...";
}

function deployed_update_image()
{
    console.log("site change sel");
	sites=img_list[document.getElementById("dist_img_sel").value];
	console.log(sites);
	clear_Options(document.getElementById("dist_site_sel"));
	for (s in sites){
		option = document.createElement("option");
		option.text = sites[s].site_name;
		option.value = JSON.stringify(sites[s]);
		document.getElementById("dist_site_sel").appendChild(option);
	}
	document.getElementById("dep_img_info").innerHTML="...";
	
}

function dist_image(){
	img_name = document.getElementById("dist_img_sel").value;
    json_site = document.getElementById("pot_dist_sites").value;
    site_name = JSON.parse(json_site).site;
    console.log("add "+site_name+" to "+img_name);
    if(img_name == null || site_name == null){
    	alert("you must select and image and a user site");
    }else{
    	
    }
}

function rem_image(){
	img_name = document.getElementById("dist_img_sel").value;
    site_name = document.getElementById("dist_site_sel").value;
}
</script>
{% endblock %}

{% block titlebar %} Image Distribution Management {% endblock %}
{% block titleuser %} un: {{user_id}} {% endblock %}
{% block content %}
<table class="tablemanage"><tr><td>Images</td><td>Deployed Sites</td><td></td><td>User's Sites</td></tr>
<tr><td>
<select id="dist_img_sel" size="3" onchange="deployed_update_image()">
{% for img_key, site_list in site_image_array  %}
   <option value="{{img_key}}">{{img_key}}</option>
{% endfor %}
</select>
</td><td>
<select id="dist_site_sel" size="3" onclick="deployed_update_site()">
</select>
</td>
<td>
<input type='button' value="< add site" onclick="dist_image()"><br>
<input type='button' value=" rem site >" onclick="rem_image()"><br>
<input type='button' value="save" onclick="api.request('save','deployments')">
{%csrf_token%}
</td>
<td>
<select id="pot_dist_sites" size="3" onchange="pot_sites()" >
{% for site in site_set  %}
   <option onmouseover="document.getElementById('info').innerHTML='{{site.user_site_script}}'" value='{"site":"{{site.site.site_name}}","script":"{{site.user_site_script}}"}'>{{site.site.site_name}}</option>
{% endfor %}
</select>
</td>
</tr>
</table>
{% endblock %}

{% block updateinfo %}
<table><tr><td>info:</td><td><div id="info"></div></td></tr></table>
{% endblock %}

{% block updateevent %}
events: <div id="events"></div>
{% endblock %}

{% block include %}
<div id="chart" class="chart"></div>
{% endblock %}


{% block splashbar %}<table align="center"><tr><td align="center">Managed by the University of Victoria</td></tr><tr><td> High Energy Particle Physics Computing Group</td></tr></table>{% endblock %}

